<article class="card post-card text-center mb-5">
  <!-- image path -->
  {{ $imagePath:= .Params.image }}
  <!-- image CDN -->
  {{ if hasPrefix $imagePath "http" }}
  <a href="{{.RelPermalink}}">
    <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}" class="img-fluid">
  </a>
  {{ else }}
  <!-- /image cdn -->

  <!-- image processing for multiple device -->
  {{ if fileExists (add `assets/` $imagePath) }}
  {{ $image:= resources.Get $imagePath }}
  {{ $imageFallback:= $image.Resize "1110x" }}
  {{ $imageXL:= $image.Resize "1110x webp" }}
  {{ $imageLG:= $image.Resize "650x webp" }}
  {{ $imageMD:= $image.Resize "600x webp" }}
  {{ $imageSM:= $image.Resize "545x webp" }}
  <a href="{{.RelPermalink}}"></a>
    <picture>
      <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
      <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
      <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
      <source srcset="{{ $imageXL.RelPermalink }}">
      <img loading="lazy" decoding="async" class="img-fluid w-100" src="{{$imageFallback.RelPermalink}}"
        alt="post image" width="{{$image.Width}}" height="{{$image.Height}}">
    </picture>
  </a>
  {{ end }}
  <!-- /image processing for multiple device -->
  {{ end }}
  <!-- /single image -->

  <div class="card-body">
    <h5 class="mt-3">
      <a class="post-title" href="{{.RelPermalink}}">{{.Title}}</a>
    </h5>
    <p>{{.Summary}}</p>
  </div>
</article>
